.icon-container {
    margin-top: 10px; 
    display: flex;
    justify-content: center; 
    align-items: center; 
gap: 40px;
  }
  
  .menu-item {
    display: flex;
    align-items: center;
    font-size: 1.2rem; 
    font-weight: bold;
    gap: 10px; 
  }
  .menu-item img {
    width: 20px; 
    height: 20px;
  }