.footer {
    display: flex;
    background-color: var(--primary-darkgrey);
    font-family: "Barlow",sans-serif;
    font-size: 0.9 rem; 
    gap: 30px;
    justify-content: center;
}

.footer-container>h2 {
    font-family: "Londrina Solid", sans-serif;
    font-size: 1.5 rem;
    display: flex;
    flex-direction: column;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   gap: 0.5em;
 
}
.insta {
display: flex;
justify-content: center;
flex-direction: row;
align-items: center;
}
.insta img {
   
}