#root {
<<<<<<< HEAD
--primary-yellow: #FDC913;
--primary-grey:  #5F5F5F;
--primary-darkgrey:  #292929;
--primary-red:  #CE2829;
--primary-beige: #FAF7F2;
}

=======
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
>>>>>>> a3f8cbf1e4011b701203e2cceb2a907509f8dada
